body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.etch-container {
    height: 540px;
    width: 540px;
    flex: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.row:nth-child(1)>.pixel {
    border-top: 1px solid gray;
}

.row>.pixel:nth-child(1) {
    border-left: 1px solid gray;
}

.row {
    box-sizing: border-box;
    flex: auto;
    display: flex;
    flex-basis: fit-content;
}

.pixel {
    box-sizing: border-box;
    background-color: white;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    flex: auto;
}

.painted {
    background-color: black;
}